<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="282828" style="background: #282828 url('https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000053475/44653e17-6400-4167-ab10-64325123dc4c.jpg') center center no-repeat; background-size: auto 120%;">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="45" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <p><font size="4" style="color:#ffffff; font-size:28px;"><b>Ezagutu, probatu eta ebaluatu gure taldearekin 
              batera eta, gero, erabaki zer teknologia gehitu.</b></font></p>
            <p><font size="3" style="color:#ffffff; font-size:16px;">Azpiegiturak eta ezagutza jartzen ditugu enpresen 
              esku. Laborategiak, ekipamenduak, softwarea, gaitasun zientifiko-teknologikoak eta proiektu bakoitza 
              babestuko duen talde aditua.</font></p><br>
              <table align="center" border="0" cellpadding="15" cellspacing="0" bgcolor="33ff8c" style="background-color: #33ff8c;">
                <tr><td>
                  <a href="https://bdih.spri.eus/harremanetarako/"><font size="4" style="color:#282828; font-size:16px; text-decoration: none;">Jarri gurekin harremanetan</font></a>
                </td></tr>
              </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
