<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="33ff8c" style="background-color: #33ff8c;">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="45" cellspacing="0" width="100%" bgcolor="33ff8c" style="background-color: #f33ff8c;">
        <tr>
          <td align="center">
            <p><font size="4" style="color:#282828; font-size:28px;"><b>Zein motatako teknologia bilatzen zaizu?</b></font></p>
            <p><font size="3" style="color:#282828; font-size:22px;"><b>Seguru asko hemen egongo da; 300 aktibo baino gehiago daude.</b></font></p>
            <p><font size="3" style="color:#282828; font-size:16px;">Horiek konbinatuz zure negozioak errendimendu osoz<br/>nola funtziona dezakeen kontatuko dizugu.</font></p>
            <a href="https://bdih.spri.eus/harremanetarako/"><font size="4" style="color:#282828; font-size:28px; text-decoration: none;"><b>Jar zaitez
              gurekin harremanetan</b></font></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>