<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="33ff8c" style="background-color: #33ff8c;">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="45" cellspacing="0" width="100%" bgcolor="33ff8c" style="background-color: #f33ff8c;">
        <tr>
          <td align="center">
            <p><font size="4" style="color:#282828; font-size:28px;"><b>¿Qué tecnología buscas?</b></font></p>
            <p><font size="3" style="color:#282828; font-size:22px;"><b>Seguramente esté aquí, hay más de 300 activos.</b></font></p>
            <p><font size="3" style="color:#282828; font-size:16px;">Te contamos como combinándolos puedes hacer que<br/>
              tu negocio funcione a pleno rendimiento.</font></p>
            <a href="https://bdih.spri.eus/es/contacto/"><font size="4" style="color:#282828; font-size:28px; text-decoration: none;"><b>Contáctanos</b></font></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>