<table border="0" cellpadding="0"  width="100%" cellspacing="0" align="center" bgcolor="ffffff" style="background-color: #ffffff;">
  <tr>
    <td>
      <table border="0" cellpadding="15" cellspacing="0" align="center" bgcolor="ffffff" style="background-color: #ffffff;">
        <tr><td bgcolor="ffffff" style="border: 1px solid #282828; background-color: #ffffff;">
          <a href="[url]"><font color="282828" style="color: #282828; text-decoration: none;">[texto]</font></a></td></tr>
      </table>
    </td>
  </tr>
</table>
