<table align="center" border="0" cellpadding="20" cellspacing="0" width="600" bgcolor="333333" style="background-color: #333333;">
  <tr>
    <td width="50%" valign="top">
      <img src="[imagen_url]" style="background-color: #ffffff;" width="260">
    </td>
    <td valign="top">
      [has_subtitle]<p style="margin: 0px 0px 5px;"><font color="33ff8b" size="2" style="color:#33ff8b; font-size:15px"><b>[subtitle]</b></font></p>[/has_subtitle]     
      <p style="margin: 0px 0px 5px;"></p><font size="3" style="color:#ffffff; font-size:22px;">[title]</font></p>
      <p style="margin: 0px 0px 5px;"></p><font size="2" style="color:#ffffff; font-size:15px">[description]</p>
        <p style="margin: 0px 0px 5px;"><a href="[url]" style="color:#33ff8b; text-decoration: none;">Leer +</a></font></p>                       
    </td>
  </tr>
</table>