<table align="center" border="0" cellpadding="15" cellspacing="0" width="600" bgcolor="cecece" style="background-color: #cecece;">
  <tr>
    <td width="33%" valign="top">
      <img src="[imagen_url]" style="background-color: #ffffff;" width="200">
    </td>
    <td valign="top">
      [has_subtitle]<p style="margin: 0px 0px 15px;"><font color="282828" size="2" style="color:#282828; font-size:15px">[subtitle]</font></p>[/has_subtitle]     
      <font size="3" style="color:#282828; font-size:22px;">[title]</font><br/><br/>
      <font size="2" style="font-size:15px">[description] 
        <a href="[url]" style="color:#282828; text-decoration: none;"><i><b>Leer +</b></i></a></font>                        
    </td>
  </tr>
</table>