<table align="center" border="0" cellpadding="0" cellspacing="0" width="570" bgcolor="ffffff" style="background-color: #ffffff; box-shadow: 0 0 20px 1px rgba(0,0,0,0.20);">
  <tr>
    <td>
      <img src="[imagen_url]" width="100%">
    </td>
  </tr>
  <tr>
    <td>
      <table align="center" border="0" cellpadding="35" cellspacing="0" width="100%" bgcolor="ffffff" style="background-color: #ffffff;">
        <tr>
          <td>
            [has_subtitle]<p style="margin: 0px 0px 5px;"><font color="33ff8c" size="2" style="color:#33ff8c; font-size:18px"><b>[subtitle]</b></font></p>[/has_subtitle]     
            <font size="3" style="color:#282828; font-size:22px;">[title]</font><br/><br/>
            <font size="2" style="font-size:15px">[description] 
              <a href="[url]" style="color:#282828; text-decoration: none;"><i><b>Leer +</b></i></a></font>   
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br/><br/>