<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BDIH aktibo teknologikoak. Teknologian inbertitu aurretik...</title>
  <style>
    body {
      font-family: Arial;
      color: #000000;
      background:#ffffff;
    }
    a:link {
      color: #000000;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      text-decoration: none;
      color: #000000;
    }
    a:active {
      text-decoration: none;
      color: #000000;
    }
  </style>
</head>
<body bgcolor="ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <br/>
  <div style="font-size:9px; text-align:center;">
    <a href="%WEBCOPY%"><font size="1" color="000000" family="Arial" 
      style="font-size:9px;line-height: 12px;">Ezin baduzu newsletter hau ikusi, egin klik <b>hemen</b></font></a>
  </div>
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background: white; margin-bottom: 0 !important;">
    <tr>
      <td align="center">
        <!-- HEADER START -->
        <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td align="center">
              <a href="https://bdih.spri.eus/">
                <font size="7" color="000000" family="Arial" style="font-size: 20px; line-height: 24px;">
                  <b><img src="https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000053475/f3f67905-c43c-4e27-badf-3b594b01810d.jpg" 
                    alt="BDIH - Aktibo teknologikoak" 
                    border="0" width="600" /></b>
                </font>
              </a>
            </td>
          </tr>
          <tr>
            <td height="30"></td>
          </tr>
        </table>
        <!-- HEADER END -->
        <table border="0" cellspacing="0" cellpadding="15" width="520">
          <tr>
            <td>    
              <!-- CONTENT START -->
              [MAIN]
              <!-- CONTENT START -->
            </td>
          </tr>    
        </table>
        <!-- FOOTER START -->
        <table border="0" cellspacing="0" cellpadding="15" width="520">
          <tr>
            <td align="center">
              <img width="600" src="https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000053475/9b666782-dfe8-4491-b87a-3558909e6de0.jpg" alt="">
            </td>
          </tr>
          <tr>
            <td align="center">
              <table border="0" cellspacing="0" cellpadding="0" width="70%">
                <tr>
                  <td align="center">
                    <p style="font-size:10px; color: #000000;">
                      %SENDER-INFO-SINGLELINE% <strong>Tel.: <a href="tel:+34900929393" style="color: #000000; text-decoration: none;">900 929 393</a> <a href="mailto:info@spri.es" style="color: #000000;">info@spri.eus</a> </strong>
                    </p>
                    <p style="font-size:14px; color: #000000; line-height: 120%;"><a href="https://www.spri.eus/harremanetarako/" style="color: #000000; text-decoration: none;"><b>Harremanetarako</b></a></p>
                  </td>
                </tr>
              </table>
              <p style="font-size:10px; color: #000000;">Jakinarazten dizugu SPRI-Enpresen Garapenerako Euskal Agentziak zure datu pertsonalak tratatzen 
                dituela bere jarduera eta zerbitzuen berri zuri emateko, oinarritzat hartuz zure adostasuna edo erakunde honen interes legitimoa 
                (merkatuteknia jarduerak bezeroekin). Eskubidea daukazu datuetara sartzeko, datuak zuzendu zein ezabatzeko, datuen tratamendua mugatzeko, 
                datuak aurkatzeko edo beste norabait eramateko, mezu elektroniko bat bidalita noiznahi helbide honetara: 
                <a href="mailto:lopd@spri.eus" style="color: #000000; text-decoration: underline;">lopd@spri.eus</a>. Ez baduzu jakinarazpen 
                gehiago jaso nahi, esaguzu <a id="id_baja" href="%UNSUBSCRIBELINK%" style="color: #000000; text-decoration: underline;" 
                target="_blank">esteka</a> honen bidez. Gogoratu posible duzula zure lehentasunak aukeratzea eta interesatzen zaizuna bakarrik 
                jasotzea <a href="https://www.spri.eus/pertsonalizatu-zure-profila/?wpatg_tab=login" style="color: #000000; text-decoration: underline;" 
                target="_blank">harpidetza editatuz</a>.</p>
              <p style="font-size:13px; color: #000000;">
                <a id="id_editar" href="https://www.spri.eus/pertsonalizatu-zure-profila/?wpatg_tab=login" style="color: #000000; text-decoration: none;" target="_blank">Editatu nire harpidetza </a> |
                <a id="id_baja" href="%UNSUBSCRIBELINK%" style="color: #000000; text-decoration: none;" target="_blank">Harpidetza kendu </a> |
                <a href="https://www.spri.eus/pertsonalizatu-zure-profila/?wpatg_tab=register" style="color: #000000; text-decoration: none;" target="_blank"> <span>Harpidetu</span> eta jaso gure jakinarazpenak </a> | 
                <a href="https://www.spri.eus/lege-oharra/" style="color: #000000; text-decoration: none;" target="_blank"> Lege-informazioa </a>
              </p>
            </td>
          </tr>
        </table>
        <!-- FOOTER END -->
      </td>
    </tr>
  </table>
</body>
</html>
