<table border="0" bgcolor="333333" cellspacing="0" cellpadding="0" width="600" align="center" style="width: 100% !important; max-width: 600px; background: #333333;">
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td align="left">
      <table border="0" bgcolor="333333" cellspacing="0" cellpadding="20" width="100%">
        <tr>
          <td>
            <font size="4" color="ffffff" family="Arial" 
              style="font-size: 32px; line-height: 100%; color: #ffffff;">Kasu arrakastatsuak</font>
          </td>
        </tr>  
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>